{% extends "base.html" %}
{% block title %} 首页 {% endblock %}

{% block content %}
<div class="container">
    <div class="form-group">
        {% if current_user.can(Permission.WRITE_ARTICLE) %}
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.body(placeholder="写点什么...", class="form-control", id="exampleTextarea", rows="4") }} <br>
            {{ form.submit(class="btn btn-outline-success float-right") }}
        </form>
        {% endif %}
    </div>
    <div>
        <ul>
            {% for post in posts %}
            <li style="list-style-type: none">
                <div class="row">
                    <div class="col-md-7">
                        <a href="{{ url_for('main.user', user_id=post.author.id) }}">{% if post.author.display_name %}
                            {{ post.author.display_name }}
                            {% else %}
                            {{ post.author.email }}
                            {% endif %}</a>
                    </div>
                    <div class="col-md-5">
                        {{ moment(post.create_date).fromNow() }}
                    </div>
                </div>
                <div>
                    {{ post.body | safe}}
                </div>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}